body {
  min-height: 100vh;
  background-image: linear-gradient(rgb(123, 202, 202), white)
}

p {
text-align: center;
}

h2{
  text-align: center;
}

#box {
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
}

#gh{
  font-weight: bold;
}

#perchText{
  text-align: left;
}

#img{
  float: right;
}

#butt{
  border-radius: 50px;
}

#backbutt{
  border-radius: 50px;
  max-width: 100px;
}